*
!.github
!.github/**
!.tests
!.tests/**
!config
!config/REAMDE.md
!config/config.yaml
!config/multiqc_config.yaml
!config/pep
!config/pep/config.yaml
!config/pep/samples.csv
!resources
!resources/*
!resources/report/*
!resources/report/tables/*
!workflow
!workflow/*
!workflow/envs/*
!workflow/report/*
!workflow/rules/*
!workflow/scripts/*
!.gitignore
!.snakemake-workflow-catalog.yml
!LICENSE
!README.md
workflow/scripts/test_cont_plot.ipynb
workflow/scripts/old_*
resources/GCA_000001405.29_GRCh38.p14_genomic.fna.gz